# RewriteEngine On
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteBase /Nokertu
# ReWriteRule ^([0-9]+)$ connection.php?gameid=$1 [L]
# # RewriteRule ^(([A-Za-z0-9\-]+/)*[A-Za-z0-9\-]+)$ $1.php [L]

# # If the request is for an existing directory, rewrite to its index.php
# RewriteCond %{REQUEST_FILENAME} -d
# RewriteRule ^(.*/?)$ $1index.php [L]

# # Serve any file directly if it exists (including files with any extension)
# RewriteCond %{REQUEST_FILENAME} -f
# RewriteRule . - [L]

# # If no file or directory matches, attempt to append .php and rewrite
# RewriteCond %{REQUEST_FILENAME}.php -f
# RewriteRule ^(.+)$ $1.php [L]



RewriteEngine On

ReWriteRule ^join/([0-9]+)$ connection?gameid=$1 [L]

# If the request is for an existing directory, rewrite to its index.php
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.*/?)$ $1index.php [L]

# Serve any file directly if it exists (including files with any extension)
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule . - [L]

# If no file or directory matches, attempt to append .php and rewrite
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L]
